@use "../abstract" as *;

/**
 * WRAPPER
 * Sets a max width, adds a consistent gutter and horizontally
 * centers the contents
 */
.wrapper {
  position: relative;

  inline-size: 95vw;

  max-inline-size: rem(1300);
  margin-inline: auto;
  padding-inline: 1.5rem;
}
