@use "../abstract" as *;

* {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.headings {
  display: grid;
  gap: rem(16);
}
